  <!-- Bottom Section-->
  <footer>
    <nav class="navbar fixed-bottom">
      <div>
        <p class="footer-content">Jiho Choi &copy; 2022 All Rights Reserved</p> 
      </div>
    </nav>
  </footer>